*{
    font-family: sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
}

/* Header */
.header{
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;
    border-bottom: 4px solid #6495ed;
}

.header .container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 10%;
    align-items: center;
    height: 100%;
}

.header .container h1{
    color: #6495ed;
    margin: 0;
}

.header .container h1 a{
    color: #6495ed;
    margin: 0;
    text-decoration: none;
}

.header .container .navbar{
    color: #ffff00;
    list-style: none;
}
.header .container .navbar li{
    display: inline;
    padding: 0 15px;
    /* margin: 0 15px; */
}
.header .container .navbar li a{
    color: #ffff00;
    text-decoration: none;
}

/* Banner */
.banner{
    width: 100%;
    height: 400px;
    background-image: url(./assets/bg-jelly-fish-para_outras_pags.png);
}
.banner .container{
    width: 80%;
    height: 100%;
    margin: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .container p{
    width: 10%;
    color: #fff;
    font-size: 36px;
}