/* body{
    background-image: url(binario.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    font-family: sans-serif;
}
h1{
    display: flex;
    justify-content: center;
}
.div-container-geral{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #194569;
    border-radius: 15px;
    width: 25%;
    height: auto;
    background-color: #194569;
    margin: auto;
    border: 2px dashed #d8ecf4;
    padding: 15px 0px;
}
.container-decimal{
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1, h2, h3{
    color: #d8ecf4;
}
.div-container-resultados{
    display: flex;
    align-items: center;
    flex-direction: column;

}
.container-decimal{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-btn{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5px 0px;
}
button{
    border: 1px solid #d8ecf4;
    border-radius: 5px;
    color: #fff;
    background-color: #194569;   
}
input{
    outline: none;
} */
