body{
    background-color: gray;
    color: white;
    align-items: center;
}
button{
    background-color: blueviolet;
    color: white;
    text-align: center;
    justify-content: space-between;
}
